.header {
  padding: 10px 0;
  position: relative;
}

.logo-img {
  width: 200px;
  position: absolute;
  left: 15px;
}

.header-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0 5px;
}

.leaf-img {
  width: 45px;
}

@media (max-width: 750px) {
  .logo-img {
    position: static;
    left: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
  }
}
