.header {
  padding: 10px 0;
  position: relative;
}

.logo-img {
  width: 200px;
  position: absolute;
  left: 15px;
  cursor: pointer;
  transition: transform, 0.3s, linear, 0.25s;
}

.logo-img:hover {
  transform: scale(1.07);
}

.help-btn {
  position: absolute;
  right: 20px;
  top: 35px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 26px;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #ffd050;
  box-shadow: 0px 0px 5px #c09c7c;
  transition: transform, 0.3s, linear, 0.25s;
}

.help-btn:hover {
  transform: scale(1.1);
}

.help-btn:active {
  transform: scale(0.9);
}

.header-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0 5px;
}

.leaf-img {
  width: 45px;
}

@media (max-width: 750px) {
  .logo-img {
    position: static;
    left: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
  }

  .help-btn {
    position: static;
    right: auto;
    top: auto;
    display: block;
    margin: 10px auto;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
