* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  background: url('/public/background.jpeg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Bree Serif', serif;
  color: #865931;
}

button {
  color: inherit;
  font-family: inherit;
}
