* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: auto;
  background: url('/public/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Bree Serif', serif;
  color: #865931;
  /* font-family: 'Bricolage Grotesque', sans-serif; */
}

.card-img {
  width: 180px;
}
